@model List<testapplication.Models.User>

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>
                نام
            </th>
            <th>
                نام خانوادگی
            </th>
            <th>
                کدملی
            </th>
            <th>
                نقش
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.NationalCode</td>
                <td>@item.MainUser</td>
            </tr>
        }

    </tbody>

</table>



