@model Item

<div class="modal-header">
    <h5 class="modal-title">افزودن عنوان جدید</h5>
</div>

<form asp-controller="Home" asp-action="CreateItem">

    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">عنوان</label>
                    <input type="text" class="form-control" asp-for="Title">
                 
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-info">ایجاد</button>
        <a href="@Url.Action("cancel_to_managment", "Home")" class="btn btn-danger mx-2">انصراف</a>

    </div>

</form>
