@model Item

<div class="modal-header">
    <h5 class="modal-title"> ویرایش عنوان</h5>
</div>

<form asp-controller="Home" asp-action="EditItem">

    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">عنوان</label>
                    <input type="text" class="form-control" asp-for="Title">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.usecountnotzero_edit))
                    {
                        <div class="alert-warning">
                            <strong>هشدار!</strong>
                            <p>
                                @ViewBag.usecountnotzero_edit
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-warning">ویرایش</button>
        <a href="@Url.Action("cancel_to_managment", "Home")" class="btn btn-danger mx-2">انصراف</a>
    </div>

</form>